.preview-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.555); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(7px); 

}

.preview-modal {
    position: relative;
    background: white; 
    border-radius: 1rem;
    padding: 2rem;
    width: 1216px;
    max-width: 90%;
    height: 80vh;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0 0.7rem 0.09rem rgba(39, 40, 40, 0.749);
    color: #fff;
    animation: modalZoomIn 0.4s ease-out;
    font-family: Lexend Deca, sans-serif;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.preview-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;

}