.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.555); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(7px); 

}

.confirmation-modal {
    position: relative;
    background: #91d5e357; 
    border-radius: 1rem;
    padding: 2rem;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0 0.7rem 0.09rem rgba(39, 40, 40, 0.749);
    color: #fff;
    animation: modalZoomIn 0.4s ease-out;
    font-family: Lexend Deca, sans-serif;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.confirmation-header{
    display: flex;
    gap: 1rem;
    font-size: 0.5rem;
    justify-content: center;
    font-family: Inter,sans-serif;
    margin: 1rem 0rem;
}

.confirmation-title{
    text-align: center;
}

.confirmation-message{
    font-size:0.8rem;
    display: block;
    text-align:left;
    margin: 1rem 0rem;
    color: rgb(220, 113, 113);

}

.confirmation-extra{
     font-size:0.8rem;
    display: block;
    text-align:left;
    margin: 1rem 0rem;
    color: rgb(255, 255, 255);
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.button-container > button{
    margin: unset;
    padding: unset;
}
.confirmation-button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}

.confirmation-button.submit{
    background-color: #2563EB;
}

.confirmation-button.cancel{
    background-color: #eb259f;
}