.bookings{
    background-color: #F9FAFB;
    height: auto;
    display: flex;
    justify-content: center;
}

.bookings-content-container{
    max-width: 1216px;
    width: 100%;
    padding: 2.5rem 20px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 1rem;
     z-index: 10;
}

.bookings-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0.5rem 0;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
}


.bookings-content.header{
    background-color: transparent;
    box-shadow: none;
    padding: unset;
}
.bookings-content.header > h1{
    font-size: 2rem;
    font-family: Inter, sans-serif;
    margin-top: unset;
    margin-bottom: 10px;
}

.bookings-content.header > span{
    color: rgba(0, 0, 0, 0.68);
    font-size: 1rem;
}


.bookings-nav {
    display: flex;
    gap: 25px;
    padding: 10px 15px;
    padding-bottom: 15px;
    border-bottom:  0.5px solid rgba(0, 0, 0, 0.11);
    padding-left: unset;
}

.nav-tab {
    background: none;
    border: none;
    font-size: 15.5px;
    color: #0000008a;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    font-family: Inter, sans-serif;
    transition: transform 0.3s ease-in-out;
}

.nav-tab:hover {
    transform: scale(1.05);
    color: black;
    
}

.nav-tab:focus {
    outline: none;
}

.nav-tab.active {
    transform: scale(1.05);
    color: #2563eb;
    font-weight: 600;
}

.nav-tab:hover::after{
    content: "";
    position: absolute;
    left: 0%;
    bottom: -14.5px;
    height: 2px;
    width: 100%;
    background-color: #0000004b;;
    border-radius: 2px;
    
}

.nav-tab.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14.5px;
    height: 2px;
    width: 100%;
    background-color: #2563eb;
    border-radius: 2px;
    opacity: 100;
   
}

.bookings-content.booking-list{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.booking-card{
    padding: 1.5rem;
    display: flex;
    gap: 20px;
}

.service-price-container.bookings-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-name.bookings-page{
    font-size: 1.3rem;
    margin: unset;
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.service-name.bookings-page > span{
     font-size: 0.8rem;
     font-weight: 500;
}

.service-price-container.bookings-page > p{
    font-size: 1.3rem;
    font-weight: 600;
    margin: unset;
}

.details-contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking-details.bookings-page{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-name.bookings-page{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.671);
    margin: unset;
}

.profile-picture-container{
    width: 5rem;
    height: 5rem;
}

.mini-booking-details{
    display: flex;
    gap: 15px;
    color: rgba(0, 0, 0, 0.603);
    font-size: 13px;
}

.mini-booking-detail{
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-button-container.bookings-page{
    height: 3rem;
}

.booking-button.bookings-page{
    font-size: 13px;
}

.booking-button.message{
    color: rgba(0, 0, 0, 0.616);
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.406);
}

.bookings-content.pagination{
    align-items: center;
    width: 100%;
}

.bookings-pagination{
    display: flex;
    gap: 10px;
}

.bookings-pagination > button{
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    padding: 10px 12px;
    background-color: white;
    color: rgba(0, 0, 0, 0.463);
    font-weight: 600;
    transition: transform 0.3s ease-in;
}

.bookings-pagination > .active-page{
    background-color: #2563eb;
    color: white;
    border: none;
    transform: scale(1.05);
}

.bookings-pagination > button:hover{
    transform: scale(1.05);
}


