.payment-page {
  display: flex;
  gap: 30px;
  max-width: 1215px;
  margin: 50px auto;
  padding: 0 10px;
  flex-wrap: wrap-reverse;
 
}

.payment-form-container {
  flex: 2;
  min-width: 300px;
  padding: 30px;
  border: 1px solid #0000001e;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: #fff;
}

.payment-summary {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  border: 1px solid #0000001e;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.payment-summary h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.payment-summary p {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.payment-heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-element-wrapper {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa;
}

.payment-button {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #6772e5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.payment-button:hover {
  background-color: #5469d4;
}

.payment-error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}
