.service-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.555); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(7px); 

}

.service-modal {
    position: relative;
    background: #91d5e357; 
    background: #ffffff5a; 
    border-radius: 1rem;
    padding: 2rem;
    width: 500px;
    max-width: 90%;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0 0.7rem 0.09rem rgba(39, 40, 40, 0.749);
    color: #fff;
    animation: modalZoomIn 0.4s ease-out;
    font-family: Lexend Deca, sans-serif;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.service-header{
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    justify-content: center;
    font-family: Inter,sans-serif;
    margin: 1rem 0rem;
}

.service-message{
    font-size:0.8rem;
    display: block;
    text-align:center;
    margin: 1rem 0rem;

}

.service-inputs-container{
    width: 100%;
    position: relative;
}
.service-inputs{
     padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.273);
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
}

.service-inputs:hover{
    transform: scale(1.05);
}

.service-input-icons{
    position: absolute;
    color: rgba(0, 0, 0, 0.639);
    right: 10px;
    top: 20%;
    background-color: transparent;
    border:none;
    font-size: 1rem;
}
.service-input-icons.price{
    right: 25px;
}
.service-input-icons > span{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.submit-button-container{
    display: flex;
    justify-content: flex-end;
}

.submit-button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #2563EB;
    color: white;
    margin-top: 10px;
    width: 100px;
}

