.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.555); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(7px); 

}

.gallery-modal {
    position: relative;
    background: #91d5e357; 
    border-radius: 1rem;
    padding: 2rem;
    width: 1000px;
    max-width: 90%;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0 0.7rem 0.09rem rgba(39, 40, 40, 0.749);
    color: #fff;
    animation: modalZoomIn 0.4s ease-out;
    font-family: Lexend Deca, sans-serif;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.gallery-header{
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    justify-content: center;
    font-family: Inter,sans-serif;
    margin: 1rem 0rem;
}

.images-gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:34.6px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
}

.gallery-image-container {
    flex-grow: 1;
    flex-basis: 16rem;
    height: 11rem;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: #93a5a88a; 

    
}
.gallery-image-container:hover{
 transform: scale(1.1);
}

.gallery-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px; 
}

.image-select{
    position: absolute;
    right: 10px;
    top: 10px;
}

.multiple-upload-button-container{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        padding: 0rem 2rem ;
    }

.pictures-upload-button,.pictures-delete-button{
    margin-top: 1.5rem;
}

.pictures-delete-button{
    background-color: rgba(156, 76, 76, 0.783);
    width: 8rem;
}

.pictures-delete-button > .delete-icon{
    font-size: 25px;
}

.loading-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.spinner.gallery{
    color:white;
    font-size: 2rem;
  
}

  ::-webkit-scrollbar{
    width: 0px;
  }