.home-container {
    height: inherit;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;            
    overflow: hidden; 
    background-color: rgba(177, 210, 211, 0.979);
  }
  
.landing{
  background-color: #EAF1FF;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-container{
  max-width: 1216px;
  padding: 10rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}


.slogan-container{
  text-align: start;
  line-height: 3.5rem;

}

.slogan{
  font-family: Poppins, sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 4.5rem;
  word-wrap: break-word;
}

.slogan.second{
  color: #2563EB;
}

.browse-label{
  font-family: Inter, sans-serif;
  font-size: 1.9rem;
  color: rgba(0, 0, 0, 0.767);
}
.browse-button{
  background-color: rgb(37 99 235);
  color: white;
  border-width: 0px;
  padding: 0.9rem 1.5rem;
  border-radius: 0.9rem;
  display: flex; 
  align-items: center;
  box-shadow: 0 10px 30px rgba(4, 31, 182, 0.253);
  text-decoration: none;
  width: fit-content;
}

.browse-button>.search-icon-home{
  font-size: 2rem;
  padding-right: 10px;
}

.browse-button> span{
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.signup-photographer{
  font-family: Inter,sans-serif;
  margin-top: 1.5rem;
  font-size: 0.87rem;
  color: rgba(0, 0, 0, 0.616);

}
.signup-photographer>a{
  color: rgb(37 99 235);
}
.landing-picture{
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.stat{
  display: flex;
  padding: 1rem;
  
}

.stat>.card{
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.767);
  backdrop-filter: blur(1px);
  height: fit-content;
  border-radius: 1rem;
  padding: 0.7rem;
  font-family: Inter,sans-serif;
}

.card-icon{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #007BFF;
}

.card-body{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items:flex-start;
  color: black;
}

.card-heading{
  font-size: 0.8rem;
  margin:unset;
}

.card-text{
  font-size: 0.6rem;
  margin:unset;
  font-size: 0.6rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.553);
}

.stat.rating{
  justify-content: flex-end;
  align-items: flex-end;
}

.card-icon.avatars{
  width: 80px;
}

.home-section{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.1);
}

.section-content{
  max-width: 1216px;
  width: 100%;
  padding: 5rem 2rem;
  align-items: center;
  font-family: Inter, sans-serif;
  
}

.section-heading{
  text-align: center;
  font-weight: 650;
  font-size: 2.3rem;
  word-spacing: 2px;
  margin: unset;
  margin-bottom: 1rem;
  word-break: break-word;
}

.section-description{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

.section-description > span{
  font-size: 1.2rem;
  word-wrap: break-word;
  max-width: 65%;
  line-height: 1.7rem;
  
}

.section-description.reasons{
  color: rgba(0, 0, 0, 0.658);
}

.home-section.reasons{
  background-color: white;
}
.reasons-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  
} 

.reason-card{
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1px);
  height: fit-content;
  border-radius: 1rem;
  font-family: Inter,sans-serif;
  padding: 2.3rem 2rem;
  text-align: center;
  align-items: center;
}

.reason-card.people{
  background-color: #EFF6FF;
}

.reason-card.rating{
  background-color: #F0FDF4;
}

.reason-card.time{
  background-color: #FAF5FF;
}

.reason-icon-container{
  font-size: 5rem;
  width: fit-content;
  border-radius: 1000px;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.reason-icon-container.people{
  background-color: #2563EB;
}

.reason-icon-container.rating{
  background-color: #16A34A;
}

.reason-icon-container.time{
  background-color: #9333EA;
}
.reason-icon-container > .reason-icon{
  font-size: 2.5rem;
  color: white;
}

.reason-icon-container.rating > .reason-icon{
  font-size: 1.8rem;
}

.reason-icon-container.time > .reason-icon{
  font-size: 2rem;
}
.reason-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.reason-text{
  width: 100%;
 text-align: center;
 font-size: 0.95rem;
 line-height: 1.35rem;
 color: rgba(0, 0, 0, 0.658);
}

.home-section.browse{
  background-color: #111827;
  color: white;
}

.section-heading.browse{
  margin-bottom: 1.4rem;
}

.section-description.browse{
  margin-bottom: 1.8rem;
  
}

.section-description.browse > span{
  font-weight: 300;
  
}

.section-browse-button-container{
  display: flex;
  justify-content: center;
}

.section-browse-button{
  background-color: rgb(37 99 235);
  padding: 1.2rem 2rem;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}


@media (max-width: 1022px) {
  .landing-container {
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
    gap: 30px;
  }

  .reasons-container{
    grid-template-columns: 1fr;
    
  }

  .reason-card{
    width: auto;
  }
}