.header {
  height: 4.5rem;
  padding: 0px 10px;
  background-color:  rgba(255, 255, 255, 0.422);
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  position: relative;
  backdrop-filter: blur(3px); 
  
}

.header-components{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  max-width: 1216px;  
  width: 100%;
  padding: 2.5rem 20px;
}

  
.logo {
  margin: 0;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  
}

.logo> h1{
  font-family: Inter, sans-serif;
  font-weight: 650;
  font-style: normal;
  font-size: 1.56rem;
  
 
}

.nav {
  display: flex;
  gap: 3.4rem;
  margin-left: 1rem;
}

.nav-link {
  color: rgba(0, 0, 0, 0.648);
  text-decoration: none;
  font-size: 0.87rem;
  font-family: Inter,sans-serif;
  font-weight: 300;
  letter-spacing: -0.5px;
  padding: 1rem 0rem;
  transition: scale 0.5s ease-in-out;
}

.nav-link:hover{
  scale:1.2;
  transition: scale 0.5s ease-in-out;
}

.active-link{
  font-weight: bold;
  scale: 1.2;
}

.header-login{
  background-color: rgb(37 99 235);
  color: white;
  border-width: 0px;
  padding: 0.57rem 0.9rem;
  border-radius: 0.5rem;
  font-family: Inter, sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
}
  
.nav-menu{
  display: none;
  transition: transform 0.2s linear;
  font-size: 1.3rem;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

.nav-menu:hover{
  transform: scale(1.1);
}


.nav-menu-container{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;;
}

.photographer-link-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.photographer-link{
  width: 2.7rem;
  height: 2rem;
}

.photographer-link > img{
   width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-user-avatar-container{
  position: relative;
  width: 100%;
  height: 100%;
}
.nav-user-avatar{
  width: 2rem;
  height: 2rem;
  border: 2px solid #2563EB;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 50%; 
  cursor: pointer;
}

.user-avatar{
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 2rem;
  border-radius: 50%; 
  color: rgba(93, 93, 93, 0.726);
}

.profile-dropdown {
  position: absolute;
  top: 110%; /* just below the avatar */
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-width: 120px;
  overflow: hidden;
  z-index: 1;
}

.profile-dropdown a,
.profile-dropdown button {
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
  object-fit: cover;
  word-break: unset;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  width:100%;
  background-color: #f0f0f0;
}


 @media (max-width: 740px) {
  .nav{
    display: none;
    position: absolute;
    top: 100%; /* Show directly below the .nav-menu */
    right: 0;
    flex-direction: column;
    gap: 0px;
    background-color: white;
    width:100%;
    align-items: center;
    scale:unset;
  }

  .nav-menu{
    display: block;
  }

  .nav.show{
    display: flex;
  }

  .nav-menu.rotated{
    transform: rotate(-90deg);
    transition: transform 0.2s linear;
  }
}
